/*! Link to Template
https://www.figma.com/file/ZjSAEwyJ233OtNeRfydSXO/Koin-(Copy)
*/

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-weight: 400;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 700;
}

.d-flex {
	display: flex;
}


.container {
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
}

.nav {
	align-items: center;
	padding: 32px 0;
	position: relative;
}

.menu {
	margin-left: auto;
}

.menu__list {
	margin: 0 110px 0 auto;
	align-items: center;
}

.menu__item {
	margin-right: 54px;
}

.menu__item:last-child {
margin-right: 0;
}

.menu__link {
	color: #40494D;
	font-size: 16px;
	padding: 5px;
	transition: .2s;
}

.menu__link:hover {
	color: #000;
	text-shadow: 0 0 1px #000;
}

.btn-menu__search{
	position: relative;
	border: 1px solid #40494D;
	border-radius: 50%;
	width: 58px;
	height: 58px;
	background: transparent;
	transition: .2s;
	margin-right: 15px;
}
.btn-menu__search:hover {
box-shadow: 0 0 3px #000;
}

.btn-menu__search-img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn-menu__demo {
	height: 58px;
	padding: 18px 25px 19px;
	background: 
	#283337;
	color: #fff;
	font-size: 17px;
	border-radius: 56px;
	transition: .2s;
	border: 2px solid transparent
}
.btn-menu__demo:hover {
	border-color: #000;
	background: #fff;
	color: #000;
}

@media (max-width: 1220px) {
	.menu__list {
		margin-right: 30px;
	}
	.menu__item {
		margin-right: 20px;
	}
}

@media (max-width: 920px) {
	.nav{
		padding: 15px 0;
	}

	.menu {
		position: fixed;
		top: 0;
		right: -100%;
		flex-direction: column-reverse;
		width: 300px;
		height: 100%;
		justify-content: flex-end;
		background: #a7a7a7;
		padding: 70px 0 0;
		opacity: 0;
		visibility: hidden;
		transition: .4s;
	}

	.nav__burger{
		position: fixed;
		position: absolute;
		top: 15px;
		right: 0;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		z-index: 10;
		cursor: pointer;
	}

	.nav__burger span,
	.nav__burger span::before,
	.nav__burger span::after {
		position: absolute;
		width: 100%;
		height: 3px;
		background: #000;
		transition: .4s;
	}

	.nav__burger:hover span,
	.nav__burger:hover span::before,
	.nav__burger:hover span::after {
		box-shadow: 0 0 2px #000;
	}

	.nav__burger span::before{
		content: "";
		top: -8px;
	}	
	.nav__burger span::after{
		content: "";
		top: 8px;
	}

	.nav__burger._active span {
		transform: rotate(45deg);
	}
	.nav__burger._active span::before {
		top: 0;
		transform: rotate(0);
	}

	.nav__burger._active span::after{
		top: 0;
		transform: rotate(90deg);
	}

	.menu._active{
		right: 0;
		opacity: 1;
		visibility: visible;
	}

	.menu__list {
		display: block;
		margin: 0;
	}

	.menu__item {
		width: 100%;
	}

	.menu__link {
		display: block;
		text-align: center;
		width: 100%;
		padding: 10px 15px;
		font-size: 22px;

	}
	.btn-menu {
		margin: 0 auto 30px;
	}
}